Source: haskell-exceptions
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Clint Adams <clint@debian.org>, Ilias Tsitsimpis <iliastsi@debian.org>
Priority: optional
Section: haskell
Rules-Requires-Root: no
Build-Depends:
 cdbs,
 debhelper (>= 10),
 ghc (>= 8.4.3),
 ghc-prof,
 haskell-devscripts (>= 0.13),
 libghc-quickcheck2-dev (>= 2.5),
 libghc-quickcheck2-dev (<< 2.14),
 libghc-quickcheck2-prof,
 libghc-test-framework-dev (>= 0.8),
 libghc-test-framework-dev (<< 0.9),
 libghc-test-framework-prof,
 libghc-test-framework-hunit-dev (>= 0.3),
 libghc-test-framework-hunit-dev (<< 0.4),
 libghc-test-framework-hunit-prof,
 libghc-test-framework-quickcheck2-dev (>= 0.3),
 libghc-test-framework-quickcheck2-dev (<< 0.4),
 libghc-transformers-compat-dev (>= 0.3),
 libghc-transformers-compat-dev (<< 0.7),
 libghc-transformers-compat-prof,
Build-Depends-Indep:
 ghc-doc,
 libghc-transformers-compat-doc,
 libghc-test-framework-quickcheck2-prof,
Standards-Version: 4.5.0
Homepage: http://github.com/ekmett/exceptions/
Vcs-Browser: https://salsa.debian.org/haskell-team/DHG_packages/tree/master/p/haskell-exceptions
Vcs-Git: https://salsa.debian.org/haskell-team/DHG_packages.git [p/haskell-exceptions]
X-Description: extensible optionally-pure exceptions
 This library supports monads that can throw extensible exceptions.
 The exceptions are the very same from Control.Exception, and the
 operations offered very similar, but here they are not limited to
 IO.
 .
 This code is in the style of both transformers and mtl, and is
 compatible with them, though doesn't mimic the module structure or
 offer the complete range of features in those packages.
 .
 This is very similar to ErrorT and MonadError, but based on features
 of Control.Exception. In particular, it handles the complex case of
 asynchronous exceptions by including mask in the typeclass. Note that
 the extensible extensions feature relies the RankNTypes language
 extension.

Package: libghc-exceptions-dev
Architecture: any
Depends: ${haskell:Depends}, ${misc:Depends}, ${shlibs:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-exceptions-prof
Architecture: any
Depends: ${haskell:Depends}, ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-exceptions-doc
Architecture: all
Section: doc
Depends: ${haskell:Depends}, ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}
